<!DOCTYPE html>
<html lang="en">

{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mapa mundo</h1>
        <p> Ejemplo del mapa del mundo blabla</p>
    </div>

    <div class="col-4">
        <img src="assets/img/mapamundi-fisico-mudo.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}